{% extends "parts/mainTemplate.html" %}

{% block content %}
<br>
<div class="container-fluid p-0 mb-5">
    <div class="row justify-content-center text-center">
        <a href="about">
            <h2 class="m-0 text-primary">
                About Us    
            </h2>
        </a>



        <div class="col-sm-6 col-lg-6 ">
            <h1> FGSSR eLearning Platform</h1>
            <div>
                This application is just an initial structure for an OnLine electronic educational
                platform <br>As a requirement of the College of Graduate Studies and Statistical Research's Software
                Engineering Diploma <a class="border-bottom" href="about"> [GROUP A]</a>
            </div>
            <div>
                <h4>Members of work group [TEAM-A]</h4>
            </div>
                <div class="m-0 fa me-3 ">
                    <div class=""> Zakeya Ahmed Shehata AbdElWahab</div>
                    <div class=""> Mohamed Sami Mohamed AbdElRahman</div>
                    <div class="">AbdAllah Saad Mahmoud Ahmed</div>
                    <div class="">Omnia Hamdy ElMansi</div>
                    <div class="">Omnia Basem AbdElRahman</div>
                    <div class="">Mahmoud AbdElLateif Mohamed ElSayed</div>
                    <div class="">Ahmed Khaled AbdElHakeem Morsi</div>
                    <div class="">Alaa Maher </div>
                    <div class="">Asmaa AbdElAAty </div>
                    <div class="">Fatemah AlZahraa Korny Kerdy </div>
                    <div class="">Khalid Samir Ahmed ElSayed </div>
                    <div class="">Basmalah Ahmed Aly Atwan </div>
                    <div class="">Shorook Moahmed Reda </div>
                    <div class="">Mohamed AHmed Hamed AbdElFatah </div>
                </div>
                
        </div>

    </div>
</div>


{% endblock content %}