/********** Template CSS **********/
/* about page */
#welcome-text, #courses-text{
    background-image: url("/static/img/background-img.svg"); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.feature-icon {
    font-size: 3rem;
    color:#03076f;
}
.team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
#get-in-touch{
    border-radius: 50px;
    border: none;
    background-color: #fff;
    transition: all 0.6s;
    padding: 14px 24px;
    border-radius: 50px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
  }
  #get-in-touch:hover{
      background-color: #ff9f00;
      color: white;
  }
/* register page */
  #signup-button{
    border-radius: 50px;
    border: none;
    background-color: #03076f;
    color: white;
}
    #signup-button:hover{
        background-color: #ff9f00;
        color: #fff;
    }
/* login page */
#login-button{
    border-radius: 50px;
    border: none;
    background-color: #03076f;
    color: white;
}
    #login-button:hover{
        background-color: #ff9f00;
        color: #fff;
    }
    #loginSec p{
        color: #03076f !important;
    }
    #loginSec .form-control{
        border-radius: 5px;
        height: 52px;
    }
    #loginSec{
        border-radius: 2px;
    }
    #loginSec h2{
        color: #03076f;
    }
/* course-list page */
#section-title {
    margin-bottom: 30px;
    font-weight: bold;
}
#course-card {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#course-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#course-title {
    font-weight: bold;
    font-size: 1.25rem;
}
#course-description {
    font-size: 1rem;
    color: #555;
}
#course-button{
    border-radius: 50px;
    border: none;
    background-color: #03076f;
    color: white;
}
#course-button:hover{
        background-color: #ff9f00;
        color: #fff;
}
#courses-end{
    background-image: url("/static/img/end-img.svg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#subscribe-button{
    border-radius: 50px;
    border: none;
    background-color: white;
    color: #03076f;
    padding: 15px 25px;
    font-weight: bold;
    transition: all 0.6s;
}
#subscribe-button:hover{
        background-color: #ff9f00;
        color: white;
}


:root {
    --primary: #03076f;
    --light: #F0FBFC;
    --dark: #181d38;
}
.nav-item{
    color: #03076f !important;
    font-size: 18px !important;
    font-weight: 700 !important;
}

.navbar{
    background-color: #ebebed !important;
}
.btn{
    padding:14px 24px;
    
}
.login{
    background-color: #ff9f00;
   display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-color: rgba(0, 0, 0, 0);
    color: #fff;
    border-color: rgba(0, 0, 0, 0);
    padding: 7px 20px;
    transition: all 0.6s;
    border-radius: 50px;
    line-height: 1.85714285714286;

}
.login:hover{
    background-color: #03076f;
    color: #ff9f00;
}
.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

/* contact Sec */
#contacto{
    background-image: url('../img/background.svg');
    height: 88vh;
    background-position: center center;
    background-size: cover;
}
#contact label, #loginSec label{
    font-size: 18px;
    line-height: 33px;
    font-weight: 700;
    color: 
    rgb(87, 97, 104);
}
#contact label span{
    color: 
    rgb(255, 0, 0);
 }
 #contact .form-control{
    border-radius: 8px !important;
    height: 52px;
 }
 #contact textarea{
    height: 120px !important;
 }
 #btns-contact .start{
    background-color: #03076f;
    padding: 14px 24px;
    border-radius: 50px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    transition: all 0.6s;
    
}
#btns-contact .start:hover{
    background-color: #ff9f00;
    color: #fff;
}
#contact h6{
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    color: 
    rgb(3, 0, 0);
}
#contact p{
    font-size: 18px;
    line-height: 33px;
    font-weight: 500;
    color: 
    rgb(0, 0, 0);
}
#contact i{
    font-size: 30px;
    color: #ff9f00;
}


/* Home Sec */
#homeSec{
    background-image: url('../img/background.svg');
    height: 88vh;
    background-position: center center;
    background-size: cover;
}
#homeSec h5{
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
}
#homeSec i, #featuredCourse i{
    color: #ff9f00;
    padding-right: 10px;
}
#homeSec h1{
    font-size: 40px;
    line-height: 63px;
    font-weight: 600;
    color: #fff;
}
#homeSec p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
}

#btns-home .start, #featuredCourse .start ,#subscribe .start{
    background-color: #fff;
    padding: 14px 24px;
    border-radius: 50px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    color: #03076f;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    transition: all 0.6s;
    
}
#btns-home .start:hover{
    background-color: #ff9f00;
    color: #03076f;
}
#btns-home i{
    padding-left: 17px;
    padding-right: 5px;
    color: #fff;
    transition: all 0.6s;
}
#btns-home .view{
color: #fff;
font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    transition: all 0.6s;
}
#btns-home .view:hover{
    color: #ff9f00;
}
#btns-home .view:hover i{
    color: #ff9f00;
}
#featuredCourse p{
    font-weight: 500;
    line-height: 29px;
    font-size: 18px;
    color: rgb(30, 36, 40);
    padding-top: 13px;
}
#featuredCourse ul li{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: 
    rgb(3, 0, 0);
}
#featuredCourse h5{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #1E2428;
 }
 #featuredCourse h3{
    font-size: 2.2222222222222rem;
    font-family: 'Poppins', sans-serif;
    color: #1E2428;
    line-height: 1.3em;
    padding-top: 17px;
 }
 #featuredCourse .start{
    background-color: #03076f;
    color: #fff;
    transition: all 0.3s;
 }
 #featuredCourse .start:hover{
    background-color: #ff9f00;
 }
 #featuredCourse img{
    box-shadow: 40px 80px 120px -40px rgba(0, 0, 0, 0.16);
 }
 #courses .card{
    box-shadow: 0px 64px 200px 0px rgba(0, 0, 0, 0.08) !important;
    border-radius: 16px;
    height: 400px;
    padding: 15px 0;
 }
 #courses img{
    border-radius: 15px;
 }
 #courses h4{
    color: rgb(3, 0, 0);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
 }
 #courses p{
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    color: rgb(3, 0, 0);
    text-transform: uppercase;
 }
 #courses i{
    color: #ff9f00;
    padding-right: 10px;
 }
 #courses ul li{
    font-size: 15px;
    line-height: 15px;
    font-weight: 600;
    color: rgb(87, 97, 104);
  }
  #subscribe{
    background-image: url('../../static/img/background.svg');
    background-position: center center;
    background-size: cover;
    height: 60vh;
  }
  #subscribe h6{
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    color: #fff;
  }
  #subscribe h3{
    line-height: 73px;
    font-size: 56px;
    font-weight: 600;
    color: #fff;
  }
  #subscribe p{
    font-size: 18px;
    line-height: 33px;
    font-weight: 600;
    color: #fff;

  }
  #subscribe .start:hover{
    background-color: #ff9f00;
    color: #fff;
  }
  
/*** Footer ***/
footer{
    background-color: #030000;
    padding: 20px 0
}
footer p{
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}
footer ul li , footer a{
    font-size: 18px;
    line-height: 33px;
    font-weight: 400;
    color: #fff;
    transition: all 0.5s;
}
footer a:hover{
    color: #ff9f00;
}
@media screen and (max-width:750px) {
    #homeSec h1{
        font-size: 22px;
    }
    #homeSec p{
        font-size: 13px;
    }
    #homeSec img{
        width: 90% !important;
    }
    #featuredCourse ul li{
        font-size: 14px;
    }
    #featuredCourse img{
        width: 80%;
    }
}