{% extends "parts/mainTemplate.html" %}
{%load static%}
{% block content %}

<header id="courses-text" class="text-center text-white">
    <div class="container">
        <h1 class="text-white display-4 mb-5">Courses</h1>
        <p class="lead mb-5">
            We have well-structured and strategically planned courses, designed to guide you in your learning journey. Making consistent progress on your learning path every day will significantly enhance your chances of becoming a great developer.
        </p>
    </div>
</header>

    <!-- Section for Featured Courses -->
    <section id="featured-courses" class="container my-5">
        <h1 id="section-title"class="text text-center">Featured Courses</h1>
        <div class="row">
            <!-- Course 1 -->
            <div class="col-md-4">
                <div id="course-card" class="card">
                    <img src="/static/img/desk-img.jpg" class="card-img-top" alt="Python Masterclass">
                    <div id="course-content" class="card-body">
                        <h5 id="course-title" class="card-title">Complete Python Masterclass for Web Development</h5>
                        <p id="course-description" class="card-text">Master Python and build dynamic web applications with this comprehensive course.</p>
                        <a href="#" id="course-button" class="btn mt-auto">Enroll Now</a>
                    </div>
                </div>
            </div>
            <!-- Course 2 -->
            <div class="col-md-4">
                <div id="course-card" class="card">
                    <img src="/static/img/pc-img.jpg" class="card-img-top" alt="HTML5 Web Components">
                    <div id="course-content" class="card-body">
                        <h5 id="course-title" class="card-title">HTML 5 Web Component Fundamentals</h5>
                        <p id="course-description" class="card-text">Learn the basics of HTML5 and how to build web components for modern websites.</p>
                        <a href="#" id="course-button" class="btn mt-auto">Enroll Now</a>
                    </div>
                </div>
            </div>
            <!-- Course 3 -->
            <div class="col-md-4">
                <div id="course-card" class="card">
                    <img src="/static/img/books-img.jpg" class="card-img-top" alt="Full Stack Web Development">
                    <div id="course-content" class="card-body">
                        <h5 id="course-description" class="card-title">Full Stack Web Development with React Hooks and Redux</h5>
                        <p id="course-description" class="card-text">Master full stack web development with React, Hooks, and Redux, and create powerful web applications.</p>
                        <a href="#" id="course-button" class="btn mt-auto">Enroll Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="courses-end">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-white text-center display-4 mb-5">All Access Membership</h1>
            <p class="lead mb-5 text-white">
                "Unlock your potential today—start enrolling in our expert-led courses and take the first step towards mastering new skills!".
            </p>
            <button id="subscribe-button" type="submit" class="btn center">Subscribe and Save</button>
        </div>
    </section>






{% endblock content %}





